{% extends 'base.html' %}
    {% block form_block %}
    <h3>Rules</h3>
    <ul>
        <li>Each player submits the name of a famous person or fictional character.</li>
    </br>
        <li> Once All players have submitted their name, players can look at the list for 10 seconds and then may not look at the list again</li>
    </br>
        <li>The first player then begins by addressing any one other player and says are you ___ ?</li>
    </br>
        <li>If they are correct, the other player joins the first player's team and they question another person.</li>
    </br>
        <li>If they are incorrect, the chance to ask a question moves to the player to whom the question was posed, and they ask another player a question.</li>
    </br>
        <li>The game continues until everyone is one one big team.</li>
    </ul>

{% endblock %}
